.example-input input {
  width: 200px;
  margin: 20px auto;

}
.example-input button {
  margin-left: 20px;
  
}

.showList {
  width: 250px;
  height: 30px;
  margin: 10px auto;
}
.showList .checkBox {
  margin-right: 20px;
}
.showList button {
  margin-left: 50px;
}

.showItems{
  margin-bottom: 50px;
}
.todoListBox {
  width: 300px;
  height: 400px;
  margin: 100px auto;
  border: 1px solid #cccccc;
}